button{
  height: 400px;
  width: 600px;
  background-color: aqua;
  position: relative;
  z-index: 3;
}
object {
  border: 3 px solid black;
  z-index: -1;
  position: relative;
}

.button {
  background-color: lightskyblue;
}