div{
  width: 100vw;
  height: 100vh;
  background-color: #020917;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  height: 400px;
  width: 600px;
  background-color: aqua;
  position: relative;
  z-index: 3;
}
object {
  border: 3px solid black;
  z-index: -1;
  position: relative;
}

.button {
  background-color: lightskyblue;
}